package ${package}.${moduleName}.entity;

import java.util.Date;

import lombok.Data;

/**
 * ${comment}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
@TableName("${tableName}")
public class ${className}Entity implements Serializable {
    private static final long serialVersionUID = 1L;

    #foreach (${column} in ${columns})
        /**
         * ${column.comment}
         */
        private ${column.attrType} ${column.attrName};
    #end
}
